/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
*{
    margin: 0px;
    padding: 0px;
 
  box-sizing: border-box;
}
:root{
  --fundo-principal: #c7c7c7;
  --texto: #222222;
  --texto-inverso: #cecdcd;
  --destaque:  #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 10px;
}
#menu ul{
  list-style: none;
  display: flex;
  gap: 10px;
}
#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  border-radius: 10px;
  padding: 12px 15px;
  transition: background-color .5s, color .5s;
}
#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}
main{
  display: grid;
  grid-template-columns: auto 90vw auto;  
  margin-top: 20px;
}
#ficha{
  background-color: var(--fundo-card);
  grid-column: 2;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
#ficha img#perfil{
  display: block;
  margin: auto;
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  outline: 5px solid var(--destaque);

  transition: transform .5s ease;
}
#ficha img#perfil:hover{
  transform: scale(1.03);
}
#ficha h1{
  color: var(--destaque);
  text-align: center;
  margin: 15px 0px;
}
#ficha p{
  text-align: justify;
}
#ficha div#midia{
  display: flex;
  gap: 15px;
  margin-top: 15px;
  font-size: 1.5em;
  justify-content: center;
  align-content: center;
}
#midia > a{
  color: var(--destaque);
  transition: transform .4s ease;
  
}
#midia > a:hover{
  transform: scale(1.2);

}
#detalhes{
   grid-column: 2;
   border-radius: 8px;
   color: var(--destaque);
}
article{
  background-color: var(--fundo-card);
  margin-top: 10px;
  padding: 20px;
  border-radius: 8px;
}
article h2{
  margin-bottom: 15px;
}
.video{
  position: relative;
  margin-top: 15px;
  width: 100%;
  aspect-ratio: 16/9;
}
.video > iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item{
  margin-top: 5px;
}
.info .nome{
  color: var(--texto);
  font-weight: bold;
}
.info .porcent{
  color: var(--texto);
  font-weight: bold;
}
.barra{
  background-color: var(--fundo-principal);
  width: 100%;
  height: 10px;
  border-radius: 8px;
}
.progresso{
  background-color: var(--destaque);
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}
#formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.periodo{
  color: var(--texto);
  font-weight: bold;
}
.lugar{
  color: var(--destaque);
  font-weight: bold;
}
.materia{
  color: var(--texto);
  font-weight: bold;
}
.curso{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  padding: 10px;
  border-left: 8px solid var(--destaque-inverso);
  transition: border .5s, color .5s;
}
.curso:hover{
  border-left-color: var(--destaque);
  border-left-width: 20px;
}

@media screen  and (min-width:765px) {
  #skill-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

}
 
